/**************/
/* CSS REMEDY */
/**************/

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Montserrat:wght@100&family=Zilla+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not(disabled) {
  cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
}

@keyframes floating-leaves {
  0% {
    background-position: left top;
  }


  100% {
    background-position: right bottom;
  }

}

/****************/
/* MIJN STYLING */
/****************/

/* Body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #e60012;
  color: #fff;
  text-align: center;
  padding: 10px;
  /* codepen: https://codepen.io/MadeliefZandt/pen/jOdxWjd?editors=0100 */
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  align-items: center;
}

header a {
  padding: .5em 0;
  color: var(--general-color);
  text-decoration: none;
}

header img {
  width: 30%;
}

header button {
  padding: .5em;

  /* icon en tekst met gap-je naast elkaar */
  display: flex;
  align-items: center;
  gap: .25em;

  /* standaard styling aanpassen */
  appearance: none;
  background-color: var(--button-background);
  border: none;
  border-radius: .25em;
  font: inherit;
  text-align: center;
  color: var(--button-color);
}

header>button {
  order: -1;
}

/* Nav */
nav button {
  justify-self: start;
  color: #6b5c43;
  padding: 10px;
  padding: 1em;
}

nav {
  background-color: #e60012;
  color: #fff;

  text-align: center;

  display: grid;
  align-content: start;
  gap: 1em;

  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  translate: -100% 000%;
  transition: .3s;
  z-index: 99;
}

nav.toonMenu {
  /* JOUW CODE HIER - stap 4 */
  translate: 0% 0%;
  transition: .3s;
  background-color: #f1e26f;
}

nav ul {
  list-style: none;
  background-color: #f1e26f;
  display: flex;
  flex-direction: column;
  padding: 0;
}

nav ul li {

  color: white;
  font-size: 1.5em;
  padding: 0.5em;
  padding-left: 0;
  border-bottom: 1px solid rgba(200, 172, 61, 0.33);

}

nav ul li a {
  border-radius: 2em;
  background-color: white;
}


nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 15px;
  color: #6b5c43;
}

/*main*/

main {
  text-align: center;
  overflow: hidden;


}


/* bron animatie main: https://developer.mozilla.org/en-US/docs/Web/CSS/animation-duration */

body {
  font-family: "Zilla Slab", sans-serif;
}

/* Sections */


section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  position: relative;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  width: 60%;
}

main p {
  font-family: "Libre Franklin", sans-serif;
  line-height: 1.5;
}

/* section 1 - main screen */

section h1 p {
  font-size: 1em;
  font-weight: bold;
  top: 3em;
  display: flex;
  justify-content: center;
  margin: 0;
  position: relative;
}

section h1 img:nth-of-type(1) {
  width: 100%;
  position: absolute;
  top: 2em;
}


section:nth-of-type(1)>img:nth-of-type(1) {
  width: 200%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

section:nth-of-type(1)>img:nth-of-type(2) {
  width: 50%;
  position: absolute;
  top: 13.5em;
}

section:nth-of-type(1) article {
  width: 90%;
  position: absolute;
  bottom: 0em;

  display: grid;
  place-content: center;

}

section:nth-of-type(1) article img {
  object-position: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

section:nth-of-type(1) article p {
  /* font-family: 'Arvo', serif; */
  top: 0.5em;
  width: 80%;
  height: 100%;
  display: flex;
  justify-self: center;
  position: absolute;
  color: white;
}

/* bron stippen:https://www.magicpattern.design/tools/css-backgrounds */


section:nth-of-type(1) p:nth-of-type(2) {
  background-color: #f1e26f;
  color: #6b5c43;

  padding: 1em 0em;
  border-radius: 0.5em;
}

/* ribbon bron: https://codepen.io/lonekorean/pen/MWbENmV */

h2 {
  font-size: 1em;
  color: #ffe46a;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

section:nth-of-type(1) h3 {
  font-size: 1.375em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* section 2 - birthday card */


section:nth-of-type(2) {
  display: grid;
  position: relative;
  justify-items: center;
  background-image: url(../images/birthday-red_2x.jpg);
  background-repeat: repeat;
}

section:nth-of-type(2) h2 {
  z-index: 1;
  margin: 0;
}

section:nth-of-type(2) h3 {
  z-index: 1;
  margin: 0 0 1em 0;
  color: white;
  font-size: 24px;
}

section:nth-of-type(2) img:nth-of-type(1) {
  position: absolute;
  width: 90%;
  height: 110%;
  margin-top: -5%;
}

section:nth-of-type(2) img:nth-of-type(2) {
  width: 80%;
  z-index: 1;
  margin: 2em 0em;
}

/*section 3 - animal crossing news */



section:nth-of-type(3) {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2em;

  background-color: #fbbb37;
  background-image: url("../images/pattern-triangles-yellow.png");
  background-size: 50%;
  animation-delay: 250ms;
  animation-duration: 80s;

  animation-name: floating-leaves;

  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

section:nth-of-type(3) h3 {
  font-size: 24px;
  padding-top: 1em;
  color: #834b16;
}

section:nth-of-type(3) article h4 {
  color: #36afb6
}

section:nth-of-type(3) article {
  background-color: white;
  border-radius: 12px;
  padding-top: .6em;
  padding-bottom: .6em;
  margin: 1em 0;
}

section:nth-of-type(3) img {
  border-radius: 1em;
}

section:nth-of-type(3) button {
  background-color: #c4161c;
  color: #ffe46a;
  padding: 5%;
  border-radius: 10%;
}

section:nth-of-type(3) a {
  color: #c4161c;
  text-decoration: none;
}

/*section 4 - new horizon video */


section:nth-of-type(4) article {
  background-color: #fbbb37;
}

section:nth-of-type(4) h4 {
  margin: 0;
  padding: 1.5em;
}

section:nth-of-type(4) img {
  background-color: #6ddcff;
  width: 250%;
  padding-bottom: 2.5em;
}

section:nth-of-type(4) p {
  width: 80%;
}

/* section 5 - pocket camp */

section:nth-of-type(5) {
  background-image: url(../images/pattern-stripes.jpg);

  padding-bottom: 4em;
  padding-top: 1em;
}

section:nth-of-type(5) article {
  background-image: url(../images/pattern-trees.jpg);
  border-radius: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin: 1em;
}

section:nth-of-type(5) img {
  width: 80%;
}

/* https://www.w3schools.com/css/css_grid_container.asp */

section:nth-of-type(5)img:nth-of-type(2) {
  margin-top: 1em;
}

section:nth-of-type(5) button {
  background-color: #c4161c;
  color: #ffe46a;
  padding: 5%;
  border-radius: 10%;
}

/* section 6 - isabelle and friends */

section:nth-of-type(6) {
  background-color: #fdfdea;
  background-image: url(/images/play-dots.png);
  padding-bottom: 1em;
}

section:nth-of-type(6) img:first-child {
  width: 350%;
  margin-left: -125%;
  margin-top: -8em;
}

section:nth-of-type(6) h3 {
  color: #834b16;
  font-size: 32px;
}

section:nth-of-type(6) article img {
  grid-row: 1 / 3;
  width: 100%;
}



/*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns*/

section:nth-of-type(6) article {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-flow: column;
  border: 0.3em black solid;
  margin: 0.5em;
  background-color: rgb(29, 219, 129)
}

section:nth-of-type(6) h4 {
  grid-column: 1;
  margin-bottom: -1em;
  margin-top: 1em;
}

section:nth-of-type(6) p {
  grid-column: 1;
  margin: 0;
  font-size: 13px;
}


/*footer*/

footer {
  background-color: #f7aa18;
  overflow: hidden;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/overflow*/

footer img:nth-of-type(1) {}

footer img:nth-of-type(2) {
  width: 120%;
}

footer p {
  font-size: 1em;
}